<html>
    <head>
        <title>Marathon Scheduler</title>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    </head>
    <body>
        <div id="datepicker"></div>
        <form id="myFormID" action="index.php" method="GET">
            <input type="hidden" name="date" id="hiddenFieldID" value="">
        </form>

        {% for day in training_list %}
            {{ day }} <br />
        {% endfor %}

        <script>
            $('#datepicker').datepicker({
                inline : true,
                altField : '#hiddenFieldID',
                onSelect : function(){
                    $('#myFormID').submit();
                }
            });
        </script>
    </body>
</html>